* {
  margin: 0;
  padding: 0;}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  font-family: sans-serif;
  color: rgb(232, 223, 233);
  overflow: hidden;
}


.leftside {
  background-color: #d44040;
  width: 15vw;
  padding:10px 0px 15px 15px;
}

.row {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidenavbar {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 1rem 0rem;
  height: 100%;
  width: 100%;
}

#input_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-group {
  display: flex;
  bottom: 0.5rem;
  width: 100%;
  gap: max(1rem, 5vw);
  padding: 0rem 1rem;
}

.form-group>input:nth-child(1) {
  min-width: 16rem;
}

.routelist {
  list-style-type: none;
}