:root {
  --clr-text: gray;
  --clr-bg: #0f0f0f;
  --clr-nav: #000;
}

body,
html {
  padding: 0px;
  margin: 0px;
}

#root {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  color: var(--clr-text);
}

.chat-container {
  background: var(--clr-bg);
  /* width: 1fr; */
  height: 100vh;
}

.chatwindow {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#input_div {
  width: 100vw;
  position: relative;
}

#input_div>form {
  display: flex;
  padding: 1rem;
  width: 100vw;
  justify-content: center;
}

.sidenavbar {
  padding: 2rem;
  background: var(--clr-nav);
}

.chat {
  width: 100%;
  margin-top: 1rem;
}

.chat>p {
  padding: 0px;
  margin: 1px 0px;
  color: white;
}

.chat-div {
  margin-top: 2rem;
}

.chat-section {
  height: calc(100vh-56px-2rem);
  overflow-y: scroll;
  padding: 2rem;
}

.form-group {}
