{% extends "ticket/layout.html" %}

{% block title %}
    Museum Bot
{% endblock %}

{% block body %}
    <h1>Chatbot</h1>

    <div id="input_div" style="display: flex; align-items: center; justify-content: center;">
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="user_input" placeholder="type something ...">
            </div>
        </form>
    </div>
    
    <div class="main">
        <div class="user_input">{{user_input}}</div>
    </div>
    <ul>
        {% for message in chat_history %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

{% endblock %}