{% extends "ticket/layout.html" %}

{% block title %}
    Museum Bot
{% endblock %}

{% block body %}
               
    <div class="chatwindow">
        <div id="main" class="chat-section" >
            <!-- <ul> -->
            <!--     <li> -->
            <!--          <div class="user_input">{{user_input}}</div> -->
            <!--     </li> -->
            <!--     <li> -->
            <!--         <div class="response">{{response}}</div> -->
            <!--    </li> -->
            <!-- </ul> -->
        </div>

        <div id="input_div" >
            <form id="form-chat" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="user_input" placeholder="type something ...">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    


{% endblock %}
