
<!DOCTYPE html>

<html lang="en">
    <head>
      {% load static %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'ticket/styles.css' %}" rel="stylesheet">
    </head>
    <body class=" mx-0 my-0 px-0 py-0">
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3 ">
                <h2>Bot</h2>
                <form>
                    <input class="search" type="text" name="q" placeholder="no idea">
                </form>
                <div>
                    <a href="{% url 'index' %}">Chat Bot</a>
                </div>
                <div>
                    Home
                </div>
                <div>
                    Help
                </div>
                {% block nav %}
                {% endblock %}
                <div>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
