:root {
  --clr-text: gray;
  --clr-bg: #0f0f0f;
  --clr-nav: #000;
}



@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Manrope:wght@400;500&display=swap');

:root {
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'Manrope', sans-serif;
}


__variable_2c91d1 {
  --font-mono: "__JetBrains_Mono_2c91d1", "__JetBrains_Mono_Fallback_2c91d1";
}

.__variable_da1155 {
  --font-sans: "__Manrope_da1155", "__Manrope_Fallback_da1155";
}

.font-sans {
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body,
html {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-sans);
  font-size: 19px;
}

#root {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  color: var(--clr-text);
}

.chat-container {
  background: var(--clr-bg);
  flex-grow: 1;
  height: 100vh;
}

.chatwindow {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#input_div {
  position: relative;
}

#input_div>form {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.sidenavbar {
  padding: 2rem;
  background: var(--clr-nav);
  max-width: 350px;
  min-width: 250px;
  width: 10%;
}

.chat {
  margin-top: 0px;
}

.chat>p {
  padding: 0px;
  margin: 0 0px;
  color: white;
}

.response {
  position: relative;
}

.chat-div {
  margin-top: 1rem;
}

.chat-section {
  overflow-y: scroll;
  padding: 2rem;
}

.form-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}


.form-group>button {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.3rem;
  background: #2ed13f;
  padding: 5px;
}



input[type="text"]:focus-within {
  outline: none;
}

.sidenavbar>ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.sidenavbar>ul>li {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 6px;
}

.sidenavbar>ul>li>a {
  text-decoration: none;
  color: var(--clr-text);
}

.sidenavbar>ul>li:not(li:last-child):hover {
  box-shadow: 2px 2px 4px #8a8a8a88, inset 2px 2px 4px #b7b6b688;
}

.sidenavbar>ul>li:not(li:last-child):hover>a {
  color: white;
}



.disappear {
  position: absolute;
  transform: scale(0);
}

.tickets {
  height: 60vh;
  background: var(--clr-bg);
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  aspect-ratio: 1/1;
}

.setting-div {
  font-size: 19px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: #0a0a0a78;
}

.setting-div>div {
  padding: 1rem;
  background: var(--clr-bg);
  height: 40vh;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  position: relative;
}

.setting-div>div>div:nth-child(1) {
  display: flex;
  width: 100%;
  justify-content: right;
}

#settings {
  padding: 0.5rem;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#settings>a {
  text-decoration: none;
}

.logout {
  color: tomato;
}

#settings>a {
  cursor: pointer;
}

#settings>a:hover {
  color: white;
  transform: translateX(5%) scale(1.1);
  font-weight: bold;
}

#settings>a.logout:hover {
  color: red;
}

.user_prompt {
  display: flex;
  flex-direction: row-reverse;
}

#language-sys {
  position: absolute;
  display: none;
}

.ticket {
  position: relative;
  padding: 1rem;
  width: fit-content;
}

#setting-btn {
  display: flex;
  background: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  padding: 2.5px;
  font-size: 22px;

}

#setting-btn:hover>svg {
  rotate: 90deg;
  transform: scale(1.2);
  transition: 250ms ease-in all;
}

#setting-btn:not(:hover)>svg {
  rotate: -90deg;
  transition: 300ms ease-out all;
}


.setting-div:not(.disappear)>div:not(.closed) {
  animation: appear 250ms ease-in;
}

.setting-div:not(.disappear)>div.closed {
  scale: 0;
  opacity: 0;
  transition: 250ms ease-in all;
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}



@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ticket {
  margin: auto;
  padding: 0;
  display: flex;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left {
  display: flex;
}

.image {
  height: 250px;
  width: 250px;
  background-image: url("https://ak-d.tripcdn.com/images/0354v1200093tdhng5712_C_1000_560_Q80.jpg");
  background-size: contain;
  opacity: 0.85;
}

.admit-one {
  position: absolute;
  color: darkgray;
  height: 250px;
  padding: 0 10px;
  letter-spacing: 0.15em;
  display: flex;
  text-align: center;
  justify-content: space-around;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
  color: white;
  font-weight: 700;
}

.left .ticket-number {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
}

.ticket-info {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.date {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.date span {
  width: 100px;
}

.date span:first-child {
  text-align: left;
}

.date span:last-child {
  text-align: right;
}

.date .june-29 {
  color: #d83565;
  font-size: 20px;
}

.show-name {
  font-size: 32px;
  font-family: "Nanum Pen Script", cursive;
  color: #d83565;
}

.show-name h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #4a437e;
}

.time {
  padding: 10px 0;
  color: #4a437e;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}

.time span {
  font-weight: 400;
  color: gray;
}

.left .time {
  font-size: 16px;
}

.location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  border-top: 1px solid gray;
}

.right {
  width: 180px;
  border-left: 1px dashed #404040;
}

.right .admit-one {
  color: darkgray;
}

.right .admit-one span:nth-child(2) {
  color: gray;
}

.right .right-info-container {
  height: 250px;
  padding: 10px 10px 10px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right .show-name h1 {
  font-size: 18px;
}

.text-to-speech {
  height: 1rem;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 16px;
}

.barcode {
  height: 100px;
}

.barcode img {
  height: 100%;
}

.right .ticket-number {
  color: gray;
}

.ticket-div {
  display: flex;
  flex-direction: row;
}

#menu {
  display: none;
  background: var(--clr-bg);
}

#menu>button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 32px;
}

#close-nav {
  display: none;
  width: 100%;
  justify-content: right;
}

@media screen and (max-width: 600px) {
  #menu {
    display: inline-block;
    position: absolute;
    left: 0.2rem;
    z-index: 1;
  }

  #root {
    flex-direction: column;
  }

  .sidenavbar {
    position: absolute;
    height: 100vh;
    z-index: 1;
    transition: 250ms ease-in-out all;
  }

  .sidenavbar.disappear-nav {
    transform: translateX(-100%);
  }

  #close-nav {
    display: inline-flex;
  }
}

#form-chat {}
